<!DOCTYPE html>
<html lang="pt" xlms:th="http://www.thymeleaf.org">
<head th:replace="layout-padrao.html::head(titulo='Atividades: Nova')"/>
    
<body>
    <header th:replace="layout-padrao.html::header(titulo='Atividades: Nova')"/>
    <nav th:replace="pastaAtividades/atividades-index.html::nav"/>
    <form th:action="@{/atividades/nova.html}" method="post" th:object="${atividade}">
        <div>
            <label for="titulo">Título</label>
            <input type="text" th:field="*{titulo}" id="titulo">
            <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
        </div>
        <div>
            <label for="tomatos">Tomatos</label>
            <input type="number" th:field="*{tomatos}" id="tomatos">
            <strong th:if="${#fields.hasErrors('tomatos')}" th:errors="*{tomatos}"></strong>
        </div>             
        <input type="submit" value="Nova Atividade">
        <input type="reset" value="Limpar">

    </form>
    <footer th:replace="layout-padrao.html::footer"/>
</body>
</html>