<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout-padrao.html::head(titulo='Atividades: Editar')"/>
<body>
    <header th:replace="layout-padrao.html::header(titulo='Atividades: Editar')"/>
    <nav th:replace="pastaAtividades/atividades-index.html::nav"/>
    <form th:action="@{/atividades/editar/{id}(id=*{id})}" th:object="${atividade}" method="POST">
        <div>
        <input type="hidden" th:field="*{id}" />
            <label>Título: <input type="text" th:field="*{titulo}" /></label>
            <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
        </div>
        <div>
            <label>Tomatos: <input type="number" th:field="*{tomatos}" /></label>
            <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{tomatos}"></strong>
            <input type="submit" />
            <input type="reset" />
        </div>
    </form>
</body>
</html>