<!DOCTYPE html>
<html lang="pt" xlms:th="http://www.thymeleaf.org">
<head th:replace="layout-padrao.html::head(titulo='Atividades:Index')"/>

<body>
    <header th:replace="layout-padrao.html::header(titulo='Atividades: Index')"/>
    <nav th:fragment="nav">
        <ul>
            <li>
                <a th:href="@{/atividades/nova.html}">Nova</a>
            </li>
            <li>
                <a th:href="@{/atividades/listar.html}">Listar</a>
            </li>
            <li>
                <a th:href="@{/atividades/menuInicial.html}">Menu Inicial</a>
            </li>
        </ul>
    </nav>
</body>
</html>