<!DOCTYPE html>
<html lang="pt" xlms:th="http://www.thymeleaf.org">

<head th:replace="layout-padrao.html::head(titulo='Usuários: Login')" />

<body>
    <header th:replace="layout-padrao.html::header(titulo='Autenticar-se')" />
    <div th:if="$param.error">
        <p><strong>Email ou senha errrados!</strong></p>
    </div>
    <div th:if="param.logout">
        <p><strong>Você se deslogou!</strong></p>
    </div>
    <form th:action="@{\login}" method="POST">
        <div>
            <label>Usuário: <input type="text" name="username" /></label>
        </div>
        <div>
            <labe>Senha: <input type="password" name="password" /></labe>
        </div>
        <input type="submit" />
        <input type="reset" />
    </form>
    <p>Não tem usuário? <a th:href="@{/usuarios/usuarios-form.html}">Se cadastre</a></p>
</body>