<!DOCTYPE html>
<html lang="pt" xlms:th="http://www.thymeleaf.org">

<head th:replace="layout-padrao.html::head(titulo='Atividades: Listagem')"/>

<body>
    <header th:replace="layout-padrao.html::header(titulo='Atividades: Listagem')"/>
    <nav th:replace="atividades-index.html::nav"/>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Tomatos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="atividade : ${atividades}" th:object="${atividade}">
                <td> 
                    <a th:href="@{/atividades/editar/{id}(id=*{id})}"  th:text="*{id}">ID</a> 
                </td>
                <td th:text="*{titulo}"> Título</td>
                <td th:text="*{tomatos}"> Tomatos</td>
                <td> 
                    <a th:href="@{/atividades/excluir/{id}(id=*{id})}">🗑</a> 
                    <a th:href="@{/atividades/editar/{id}(id=*{id})}">✎</a> 
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>