<!DOCTYPE html>
<html lang="pt" xlms:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades: Listagem</title>
</head>

<body>
    <h1>Atividades: Listagem</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Tomatos</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="atividade : ${atividades}" th:object="${atividade}">
                <td th:text="*{id}"> ID</td>
                <td th:text="*{titulo}"> Título</td>
                <td th:text="*{tomatos}"> Tomatos</td>
            </tr>
        </tbody>
    </table>
</body>

</html>