<!DOCTYPE html>
<html lang="pt" xlms:th="http://www.thymeleaf.org">
<head th:replace="layout-padrao.html::head(titulo='Menu Inicial')"/>

<body>
    <header th:replace="layout-padrao.html::header(titulo='Menu Inicial')"/>
    <nav th:fragment="nav">
        <ul>
            <li>
                <a th:href="@{/atividades/index.html}">Atividades</a>
            </li>
            <li>
                <a th:href="@{/atividades/listar.html}">Usuários</a>
            </li>
        </ul>
    </nav>
</body>
</html>